<div class="about">

</div>

<template class="about__template">
    <section class="about__card">
        <h2 class="about__heading"></h2>
        <p class="about__text"></p>
    </section>
</template>