<section class="adopterdyr" id="adopterdyr">
    <section class="adopterdyr__content">
        <h2 class="adopterdyr__heading"></h2>
        <p class="adopterdyr__text"></p>
    </section>
</section>

<div class="adobterdyr__contentwrapper">
    <div class="adopterdyr__toptext">
        <h2 class="adopterdyr__heading adopterdyr__heading_blue">Dyr hos os</h2>
        <p class="adobterdyr__text"></p>
        <%- include('../partials/flickety') %>
    </div>
    <section class="adopterdyr__cardcontent">

    </section>
</div>

<template class="adobterdyr__template">
    <figure class="adopterdyr__card">
        <img class="adopterdyr__image" src="" alt="" srcset="">
        <figcaption class="adobterdyr__textcontent">
            <h2 class="adopterdyr__cardheading"></h2>
            <p class="adopterdyr__cardtext"></p>
        </figcaption>
    </figure>
</template>