
<div class="burger__utility">
    <span class="burger__size">
        <div class="burger__burgerbox">
            <div class="header__burger"></div>
            <div class="header__burger"></div>
            <div class="header__burger"></div>
        </div>
    </span>
</div>
<div class="burger burger__closed">
    <ul class="burger__ul">
        <li><a href="#header" class="burger__link">Hjem</a></li>
        <li><a href="#omos" class="burger__link">Om os</a></li>
        <li><a href="#frivillig" class="burger__link">Bliv frivillig</a></li>
        <li><a href="#dyrinod" class="burger__link">Dyr i nød?</a></li>
        <li><a href="#adopterdyr" class="burger__link">Adopter et dyr</a></li>
        <div class="burger__shutdown">X</div>
    </ul>
</div>

<script src="/assets/javascript/burger.js"></script>
