<div class="main-carousel">

</div>

<template class="carusel__template">
    <div class="carousel-cell"><img class="swiper__img" src="https://via.placeholder.com/300" alt="" srcset=""></div>
</template>
  

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="/assets/javascript/flickety.js"></script>