<form action="" method="post" id="form">
    <input type="text" name="name" id="name" placeholder="navn">
    <input type="text" name="address" id="address" placeholder="address">
    <input type="number" name="zip" id="zip" placeholder="zipcode">
    <input type="text" name="city" id="city" placeholder="city" value="">
    <input type="email" name="email" id="email" placeholder="email">
    <input type="number" name="phone" id="phone" placeholder="phonenumber">
    <textarea name="message" id="message" id="" cols="30" rows="10" placeholder="Ad your text here"></textarea>
    <button type="submit" id="submit">submit</button>
</form>

<p class="form__udfyld"></p>


<script src="/assets/javascript/form.js"></script>