<header class="header" id="header">
    <div class="header__contentwrapper">
        <section class="header__content">
            <a href="/" class="header__logo">
                <img class="header__logoimg" src="/assets/images/logo.png" alt="" srcset="">
                <span class="header__logotext">Foreningen for Dyrevelfærd</span>
            </a>
            <%- include('../partials/burger') %>
            <nav class="header__nav">
                <li class="header__li"><a href="/" class="header__link">Hjem</a></li>
                <li class="header__li"><a href="#omos" class="header__link">Om os</a></li>
                <li class="header__li"><a href="#frivillig" class="header__link">Bliv frivillig</a></li>
                <li class="header__li"><a href="#dyrinod" class="header__link">Dyr i nød?</a></li>
                <li class="header__li"><a href="#adopterdyr" class="header__link">Adopter et dyr</a></li>
            </nav>
        </section>
    </div>
    <section class="header__textbox">
        <h1 class="header__title"></h1>
        <p class="header__text"></p>
    </section>
</header>

