<section class="nyhedsbrev">
    <div class="nyhedsbrev__content">
        <h2 class="nyhedsbrev__heading">Tilmeld vores nyhedsbrev</h2>
        <form class="nyhedsbrev__form" action="" method="post" id="form">
            <div class="nyhedsbrev__firstline">
                <p class="nyhedsbrev__text">Få insparation og nyheder om dyrevelfærd og vores arbejde, direkte i din indbakke</p>
                <div class="nyhedsbrev__inputcontent">
                    <input class="nyhedsbrev__input" type="email" name="email" id="email" placeholder="Email">
                    <input class="nyhedsbrev__input" type="text" name="name" id="name" placeholder="Navn">
                </div>
            </div>
            <button class="nyhedsbrev__submit" type="submit" id="submit">Tilmeld</button>
        </form>
        <p class="form__udfyld"></p>
    </div>
</section>