<section class="volunteers">
    <h2 class="volunteers__mainheading">Bliv Frivillig</h2>
    <div class="volunteers__content">

    </div>
</section>

<template class="volunteers__template">
    <article class="volunteers__card">
        <header class="volunteers__graybox">
            <h2 class="volunteers__heading"></h2>
        </header>
        <div class="volunteers__contentbox">
            <img class="volunteers__image" src="" alt="" srcset="">
            <p class="volunteers__text volunteers__text"></p>
        </div>
        <footer class="volunteers__graybox volunteers__footer">
            <p class="volunteers__footertext"></p>
        </footer>
    </article>
</template>