<%- include('../partials/headstart') %>

<%- include('../partials/headend') %>

<main>
    <form action="" method="post" id="login">
        <input type="text" name="username" id="username" class="username" value="" placeholder="username">
        <input type="password" name="password" class="password" id="password" value="" placeholder="Password">
        <button type="submit" id="submit" class="form__button">login</button>
    </form>
    <p class="form__udfyld"></p>
</main>


<script src="/assets/javascript/admin.js"></script>
<%- include('../partials/afterfooter') %>