<%- include('../partials/headstart') %>
<link rel="stylesheet" href="/assets/css/admin.css">
<%- include('../partials/headend') %>

<main class="admin">
    <div class="spinner"></div>
    <section class="admin__formbox">        
        <form class="admin__form" action="" method="post" id="login">
            <input type="text" name="username" id="username" class="admin__input" value="" placeholder="username">
            <input type="password" name="password" class="admin__input" id="password" value="" placeholder="Password">
            <button type="submit" id="submit" class="admin__button">login</button>
        </form>
        <p class="form__udfyld"></p>
    </section>
</main>


<script src="/assets/javascript/admin.js"></script>
<%- include('../partials/afterfooter') %>