<%- include('../partials/headstart') %>
<!-- <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css"> -->

<%- include('../partials/headend') %>
<h1>Hello World!</h1>

<%- include('../partials/flickety') %> -->

<script src="/dist/assets/javascript/singleview.js"></script>
<%- include('../partials/afterfooter') %>