.adopterdyr{
    width: 100%;
    height: 40vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    
    &__content{
        width: $innerwidth;
        margin: auto;
        color: $base-color;
    }

    &__heading{
        font-size: 3em;
        margin-block-start: 0;
        margin-block-end: 0;
        &_blue{
            color: $important-text;
            margin-top: 1em;
        }
    }

    &__cardcontent{
        width: $innerwidth;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__toptext{
        width: $innerwidth;
        margin: auto;
    }

    &__card{
        margin: 1em 0;
        display: flex;
        width: 450px;
        height: 100%;
        border: 1px dotted $header-link;
        margin-inline-start: 0;
        margin-inline-end: 0;
        box-sizing: border-box;
        text-decoration: none;
        font-size: 0.8em;
        color: black;
    }

    &__image{
        width: 150px;
        height: 220px;
        object-fit: cover;
        margin-right: 0.4em;
    }

    &__cardheading{
        font-size: 1em;
        margin-bottom: 0.6em;
    }

    &__cartdtext{
        font-size: 0.7em;
    }
}

@media screen and (max-width: 600px){
    .adopterdyr{
        &__card{
            flex-direction: column;
            width: 220px;
        }

        &__image{
            width: 220px;
            height: 220px;
        }
    }
}