.main-carousel{
    margin: 5em 0;
}

.carousel-cell{
    width: 100%;
    text-align:center;

    & > img {
        height: 25vh;
    }

}

@media screen and (min-width: 768px){
    .carousel-cell{
        & > img {
            height: 40vh;
        }
    }
} 