@import 'variabel';
@import 'base';

.adminpanel{

    &__header{
        text-align: center;
        background-color: $graybox;
        padding: 1em;
    }

    &__ul{
        list-style: none;
        cursor: pointer;
    }

    &__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: dotted 1px black;
    }

    &__overskrift{
        margin: 0.5em 0;
    }

    &__button{
        background-color: $important-text;
        color: $base-color;
        border-radius: 5px;
        margin: 0.5em;
        &-rød{
            background-color: red;
        }
    }
}

.sections{
        padding: 2em;
        width: $innerwidth;
        margin: auto;

    &__form{
        display: none;
    }

    &__link{
        color: $important-text;
    }

}

.abouts{
    padding: 2em;
    width: $innerwidth;
    margin: auto;

    &__form{
        display: none;
    }

    &__link{
        color: $important-text;
    }
}

.volunteers{
    padding: 2em;
    width: $innerwidth;
    margin: auto;

    &__form{
        display: none;
    }

    &__link{
        color: $important-text;
    }
}

.animals{
    padding: 2em;
    width: $innerwidth;
    margin: auto;

    &__form{
        display: none;
    }

    &__link{
        color: $important-text;
    }
}
@import 'footer'