@import 'variabel';
@import 'base';

.admin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 2em;

    &__formbox{
        position: relative;
        background-color: $footer-color;
        width: 250px;
        height: 250px;
        border: 1px dotted $header-link;
        border-radius: 10px;
    }

    &__form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2em;
    }

    &__input{
        margin: 1em 0;
        border-radius: 5px;
    }

    &__button{
        background-color: $important-text;
        color: $base-color;
        margin-top: 1em;
        border-radius: 5px;
    }
}

.spinner{
    z-index: 2;
    position: absolute;
    top: 45vh;
    left: 50%;
    margin-left: -1.5em;
    width: 3em;
    height: 3em;
    opacity: 0;
    border: 5px solid;
    border-color: tomato transparent orange transparent;
    border-radius: 50%;
    animation: animateSpinner 500ms infinite linear;
}

@keyframes animateSpinner {
    15%{
        transform: rotate(60deg);
    }
    30%{
        transform: rotate(90deg);
    }
    45%{
        transform: rotate(150deg);
    }
    60%{
        transform: rotate(220deg);
    }
    75%{
        transform: rotate(290deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@import 'footer'